@import "tailwindcss";

@font-face {
  font-family: "Grandstander-Static";
  src: url("/fonts/grandstander/Grandstander-BlackItalic.ttf")
    format("truetype");
  font-weight: 900;
  font-style: italic;
}

:root {
  --container-padding: 15px;
}

@theme inline {
  --font-main: var(--font-grandstander);
  --color-primary: #65f54e;
  --color-secondary: #75d8cd;
  --color-dark: #212121;
  --spacing-container: var(--container-padding);
}

@layer base {
  * {
    scrollbar-width: thin;
  }

  ::selection {
    color: white;
    background: black;
  }

  button {
    cursor: pointer;
  }

  .hero-title {
    font-family: "Grandstander-Static", "system-ui", "serif";
    text-shadow: 0.07em 0.07em 0 #212121;
    -webkit-text-stroke: 1px #212121;
    line-height: 1;
    font-weight: 900;
    font-style: italic;
  }

  .section-title {
    font-family: "Grandstander-Static", "system-ui", "serif";
    -webkit-text-stroke: 0.05em #212121;
    line-height: 1;
    font-weight: 900;
    font-style: italic;
  }
}

@media (width >= 40rem) {
  :root {
    --container-padding: 20px;
  }

  .hero-title {
    -webkit-text-stroke: 2px #212121;
  }
}

@media (width >= 48rem) {
  :root {
    --container-padding: 30px;
  }
}

@media (width >= 64rem) {
  :root {
    --container-padding: 40px;
  }
  .hero-title {
    -webkit-text-stroke: 3px #212121;
  }
}

@media (width >= 80rem) {
  :root {
    --container-padding: 45px;
  }
}

@media (width >= 96rem) {
  :root {
    --container-padding: 50px;
  }
}
