@import "tailwindcss";

@font-face {
  font-family: "Grandstander-Static";
  src: url("/fonts/grandstander/Grandstander-BlackItalic.ttf")
    format("truetype");
  font-weight: 900;
  font-style: italic;
}

:root {
  --container-padding: 15px;
  --swiper-navigation-color: #212121;
}

@theme inline {
  --font-main: var(--font-grandstander);
  --font-anton: var(--font-anton);
  --color-primary: #65f54e;
  --color-secondary: #75d8cd;
  --color-light: #fffbd2;
  --color-dark: #212121;
  --spacing-container: var(--container-padding);
}

@layer base {
  * {
    scrollbar-width: thin;
  }

  ::selection {
    color: white;
    background: black;
  }

  /* #grainy {
    position: fixed;
    inset: 0;
    height: 100vh;
    margin: auto;
    z-index: 100;
    pointer-events: none;
    mix-blend-mode: screen;
  }

  #grainy::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0.5;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='turbulence' baseFrequency='0.3' numOctaves='4' stitchTiles='stitch'/%3E%3CfeColorMatrix type='saturate' values='0'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  } */

  button {
    cursor: pointer;
  }

  .hero-title {
    font-family: "Grandstander-Static", "system-ui", "serif";
    text-shadow: 0.07em 0.07em 0 var(--color-dark);
    -webkit-text-stroke: 1px var(--color-dark);
    line-height: 1;
    font-weight: 900;
    font-style: italic;
  }

  .section-title {
    font-family: "Grandstander-Static", "system-ui", "serif";
    -webkit-text-stroke: 0.04em var(--color-dark);
    line-height: 1;
    font-weight: 900;
    font-style: italic;
  }
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}

@media (width >= 40rem) {
  :root {
    --container-padding: 20px;
  }

  .hero-title {
    -webkit-text-stroke: 2px var(--color-dark);
  }
}

@media (width >= 48rem) {
  :root {
    --container-padding: 30px;
  }
}

@media (width >= 64rem) {
  :root {
    --container-padding: 40px;
  }
  /* #grainy::after {
    top: -110%;
    left: -50%;
    width: 300%;
    height: 300%;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='turbulence' baseFrequency='2' numOctaves='4' stitchTiles='stitch'/%3E%3CfeColorMatrix type='saturate' values='0'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    animation: grain 8s steps(10) infinite;
  } */
  .hero-title {
    -webkit-text-stroke: 3px var(--color-dark);
  }
}

@media (width >= 80rem) {
  :root {
    --container-padding: 45px;
  }
}

@media (width >= 96rem) {
  :root {
    --container-padding: 50px;
  }
}
